NCF_HTTP_PROXY_HOST=proxy-git.myatos.net
NCF_HTTP_PROXY_PORT=8080
NCF_HTTPS_PROXY_HOST=proxy-git.myatos.net
NCF_HTTPS_PROXY_PORT=8080

DNS_ENVIRONMENT=dev
DNS_DOMAIN=ncf.com
DNS_ETCD_FOLDER=/com/ncf
DNS_SUFFIX="${DNS_ENVIRONMENT}.${DNS_DOMAIN}"
DNS_NAMESERVER="160.92.204.206:53"

ETCD_PORT=2379
SKYDNS_VERSION=2.5.3a
REGISTRATOR_VERSION=v6

MONGO_EXTERNAL_PORT=27017
MONGO_VERSION={{ MONGO_VERSION }}
MONGO_REPLICASET_NAME=rs0

NCF_WEB_APP_ID=591ae3c83359057ba0966dda
SEED_NODE_PORT=12300

#DOCKER_HOSTS="--add-host gatewaydev.myatos.net:160.92.209.57"
DOCKER_HOSTS=""

